<a href="https://colab.research.google.com/github/Preferance01/Billionaires-Dataset/blob/main/Billionaires_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importing important libraries
import pandas as pd
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [4]:
#Loading the data set 

data = pd.read_csv("/content/Billionaire.csv")
data

,Name,NetWorth,Country,Source,Rank,Age,Industry
0,Jeff Bezos,$177 B,United States,Amazon,1,57.0,Technology
1,Elon Musk,$151 B,United States,"Tesla, SpaceX",2,49.0,Automotive
2,Bernard Arnault & family,$150 B,France,LVMH,3,72.0,Fashion & Retail
3,Bill Gates,$124 B,United States,Microsoft,4,65.0,Technology
4,Mark Zuckerberg,$97 B,United States,Facebook,5,36.0,Technology
...,...,...,...,...,...,...,...
2750,Daniel Yong Zhang,$1 B,China,e-commerce,2674,49.0,Technology
2751,Zhang Yuqiang,$1 B,China,Fiberglass,2674,65.0,Manufacturing
2752,Zhao Meiguang,$1 B,China,gold mining,2674,58.0,Metals & Mining
2753,Zhong Naixiong,$1 B,China,conglomerate,2674,58.0,Diversified
2754,Zhou Wei family,$1 B,China,Software,2674,54.0,Technology

In [7]:
#Setting up the features 

columns= ['Name', 'NetWorth','Country', 'Source','Rank','Industry']
data= data.loc[:, columns]
data.head(10)

,Name,NetWorth,Country,Source,Rank,Industry
0,Jeff Bezos,$177 B,United States,Amazon,1,Technology
1,Elon Musk,$151 B,United States,"Tesla, SpaceX",2,Automotive
2,Bernard Arnault & family,$150 B,France,LVMH,3,Fashion & Retail
3,Bill Gates,$124 B,United States,Microsoft,4,Technology
4,Mark Zuckerberg,$97 B,United States,Facebook,5,Technology
5,Warren Buffett,$96 B,United States,Berkshire Hathaway,6,Finance & Investments
6,Larry Ellison,$93 B,United States,software,7,Technology
7,Larry Page,$91.5 B,United States,Google,8,Technology
8,Sergey Brin,$89 B,United States,Google,9,Technology
9,Mukesh Ambani,$84.5 B,India,diversified,10,Diversified

In [8]:
features= ['Name', 'Country','Source', 'Rank','Industry']
X = data.loc[:, features]
y = data.loc[:, ['NetWorth']]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .75)

In [10]:
reg = DecisionTreeRegressor(max_depth = 2, random_state = 0)

In [11]:
reg.fit(X_train, y_train)

ValueError: ignored

# New Section